In [1]:
import pandas as pd
from numpy import random
import matplotlib.pyplot as plt
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

# Enable inline plotting
%matplotlib inline

In [ ]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

In [3]:
names = ['Bob','Jessica','Mary','John','Mel']

In [ ]:
random.seed(500)
random_names = [names[random.randint(low=0,high=len(names))] for i in range(1000)]

# Print first 10 records
random_names[:10]

In [ ]:
births = [random.randint(low=0,high=1000) for i in range(1000)]
births[:10]

In [ ]:
BabyDataSet = list(zip(random_names,births))
BabyDataSet[:10]

In [ ]:
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])
df[:10]

In [8]:
df.to_csv('Modules_Pandas_births1880.txt',index=False,header=False)

In [9]:
Location = r'Modules_Pandas_births1880.txt'
df = pd.read_csv(Location)

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df = pd.read_csv(Location, header=None)
df.info()

In [ ]:
df.tail()

In [ ]:
df = pd.read_csv(Location, names=['Names','Births'])
df.head(5)

In [15]:
import os
os.remove(Location)

In [ ]:
df['Names'].unique()

In [ ]:
for x in df['Names'].unique():
    print(x)

In [ ]:
print(df['Names'].describe())

In [ ]:
# Create a groupby object
name = df.groupby('Names')

# Apply the sum function to the groupby object
df = name.sum()
df

In [ ]:
Sorted = df.sort_values(['Births'], ascending=False)
Sorted.head(1)

In [ ]:
df['Births'].max()

In [ ]:
df['Births'].plot.bar()

print("The most popular name")
df.sort_values(by='Births', ascending=False)